* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
div {
    display: block;
}
:root {
    --main-color: black;
}
/* PC */
/* Main */
.main-layout {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    padding: 20px;
}
.layout:first-child{
    grid-column: 1/5;
    grid-row: 1/2;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.layout:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/4;
    border-radius: 5px;
}
/* Top Ranking */
.layout:nth-child(3) {
    grid-column: 4/5;
    grid-row: 2/3;
    border-radius: 5px;
}
/* Top tryuen */
.top-truyen {
    width: auto;
}
.top-truyen h2 {
    margin: 0;
    color: black;
    background: rgb(255, 156, 0);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top-truyen ul {
    position: relative;
    background: #fff;
}

.top-truyen ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}
.top-truyen ul li:nth-child(1) {
    color: rgb(211, 0, 0);
}
.top-truyen ul li:nth-child(2) {
    color: rgb(212, 138, 0);
}
.top-truyen ul li:nth-child(3) {
    color: rgb(187, 187, 0);
}

.top-truyen ul li:nth-child(1):hover {
    color: rgb(255, 42, 42);
}
.top-truyen ul li:nth-child(2):hover {
    color: rgb(255, 166, 0);
}
.top-truyen ul li:nth-child(3):hover {
    color: rgb(255, 255, 0);
}

.top-truyen ul li span {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
}

.top-truyen ul:hover li {
    opacity: 0.2;
}
.top-truyen ul li:hover {
    transform: scale(1.1);
    z-index: 10;
    background: #b1b2a2;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 1;
}
.top-truyen ul li:hover span {
    background: #fff;
    color: #b1b2a2;
}
/* About */
.layout:nth-child(4) {
    grid-column: 1/5;
    grid-row: 4/5;
    border-radius: 5px;
}
/* tablet */
@media screen and (max-width: 1100px) and (min-width: 575px) {
    /* Main */
    .main-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 20px;
        padding: 20px;
    }
    .layout:first-child {
        grid-column: 1/5;
        grid-row: 1/2;
        border-radius: 5px;
    }
    .layout:nth-child(2) {
        width: 100%;
        grid-column: 1/5;
        grid-row: 2/3;
        border-radius: 5px;
    }
    /* Top Ranking */
    .layout:nth-child(3) {
        grid-column: 1/5;
        grid-row: 3/4;
        border-radius: 5px;
    }
    /* Top tryuen */
    .ngang {
        display: flex;
    }
    .top-truyen {
        width: 50%;
    }
    /* About */
    .layout:nth-child(4) {
        grid-column: 1/5;
        grid-row: 4/5;
        border-radius: 5px;
    }
}
/* Phone */
@media screen and (max-width: 575px) {
    /* Main */
    .main-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 20px;
        padding: 20px;
    }
    .layout:first-child {
        display: none;
        grid-column: 1/5;
        grid-row: 1/2;
        border-radius: 5px;
        /* border: red 1px solid; */
    }
    .layout:nth-child(2) {
        /* overflow: scroll; */
        grid-column: 1/5;
        grid-row: 2/3;
        border-radius: 5px;
        /* border: red 1px solid; */
    }
    /* Top Ranking */
    .layout:nth-child(3) {
        grid-column: 1/5;
        grid-row: 3/4;
        border-radius: 5px;
        /* border: red 1px solid;  */
    }
    /* Top tryuen */
    .ngang {
        display: flex;
    }
    .hero .cover img {
        width: 180px !important;
        height: 250px !important;
    }
    /* mb */
    .cmb {
        margin-bottom: 20px;
    }
    .hero .cover {
        padding-right: 0px;
        margin-right: 0px;
    }
    .cover:before {
        z-index: 1;
        width: 180px;
        height: 30px;
        content: "";
        position: absolute;
        bottom: 20px;
        background-color: rgba(0, 0, 0, 0.473);
    }
    .title p {
        /* border: red 1px solid; */
        z-index: 2;
        color: white;
        font-size: 16px;
        width: 180px;
        height: auto;
        left: 10px;
        bottom: 5px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .hero:hover {
        box-shadow: none !important;
    }
    .hero {
        padding: 0px !important;
    }
    .description,
    .tags-list {
        display: none;
    }
    /* About */
    .layout:nth-child(4) {
        grid-column: 1/5;
        grid-row: 4/5;
        border-radius: 5px;
        /* border: red 1px solid; */
    }
}
/* Main Slider*/
.box {
    width: 200px;
    height: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}
.slider-title {
    margin: 0 25px;
    font-weight: 700;
    color: #2b394a;
    font-size: 30px;
}
.slide-img {
    height: 450px;
    position: relative;
}
.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background: var(--main-color);
    /*     font-family: calibri; */
}
.detail-box a {
    text-decoration: none;
}
.type {
    display: flex;
    flex-direction: column;
    background: var(--main-color);
}
.type a {
    color: white;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.type span {
    color: white;
    background: var(--main-color);
}
.title {
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #1e1f1b93;
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #252525;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
}
.read-btn:hover {
    color: #ffffff;
    background: var(--main-color);
    transition: all ease 0.3s;
}
.overlay {
    visibility: hidden;
}
.slide-img:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.slider {
    width: 100%;
    display: flex;
    /*     height: 100vh; */
    justify-content: center;
    align-items: center;
}

/* Phan tu trong Main */
.hero-item {
    z-index: 1;
}
.hero {
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 10px 10px 30px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    /* -webkit-box-shadow: 0 2px 7px 0 rgb(0 0 0 / 50%); */
    background-color: #fff;
    z-index: 1;
}
.hero:hover {
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 50%);
}
.hero .cover {
    margin: -100px 30px 0 0;
    background-color: transparent;
}
.cover a {
    /* border: red 1px solid; */
    color: #e64809;
    text-decoration: none;
}
.hero .cover img {
    width: 200px;
    height: 300px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 14px 2px rgb(34 34 34 / 8%),
        0 8px 10px 1px rgb(34 34 34 / 10%);
    box-shadow: 0 3px 14px 2px rgb(34 34 34 / 8%),
        0 8px 10px 1px rgb(34 34 34 / 10%);
}
.hero .hero-content {
    min-width: 0;
}
.hero .title {
    width: 80px;
    height: 24px;
    line-height: 1.33;
    font-size: 18px;
    font-weight: 700;
    color: #222;
}
.hero .description {
    font-size: 16px;
    line-height: 1.38;
    color: #6f6f6f;
}
.tag-item {
    padding: 0 10px;
    border: 1px solid #eee;
    margin-right: 5px;
    border-radius: 12px;
    color: #6f6f6f;
    font-size: 14px;
    line-height: 19px;
}
/* Footer */
#footer {
    color: gray;
    font-size: 14px;
}
#footer .footer-top {
    margin: 0 35px;
    border-bottom: 1px solid gray;
}
#footer .footer-left {
    float: left;
    display: flex;
    margin-left: 60px;
}
#footer .footer-left a {
    margin: 50px 10px;
    color: gray;
    text-decoration: none;
}
#footer .footer-right {
    float: right;
    display: flex;
    margin-right: 50px;
}
#footer .footer-right a,
h6 {
    margin: 50px 10px;
    color: gray;
    text-decoration: none;
}
#footer .footer-right a .alkblog {
    font-size: 10px;
}
@media screen and (max-width: 650px) {
    #footer .footer-left {
        margin: 0;
    }
    #footer .footer-left a {
        margin: 10px 5px;
    }
    #footer .footer-right {
        margin: 0;
    }
    #footer .footer-right a,
    h6 {
        margin: 10px 5px;
    }
}
